:root{
    --black: black;
    --blue: rgb(0, 120, 255);
    --blue_light: rgb(140, 210, 255); /* Light Blue */
    --gray: rgb(80, 80, 80);
    --green: rgb(60, 230, 30);
    --orange: rgb(255, 165, 30);
    --raisin_black: rgb(36, 33, 36);
    --red: rgb(250, 30, 30);
    --red_dark: rgb(210, 30, 30); /* Dark Red */
    --white: white;
    --yellow: rgb(255, 230, 0);
}
html{
    /* 1rem = 10px */
    font-size: 62.5%;
    font-family: 'VT323', monospace;
    background-image: url("img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
}
.left{
    height: 50rem;
    width: 30rem;
    margin: auto;
    display: grid;
    grid-template-columns: 26rem 4rem;
    grid-template-rows: 10rem 28rem 12rem;
    background-color: var(--red);
}
.right{
    height: 40rem;
    width: 30rem;
    margin: auto;
}

/* LEFT */
.top{
    height: 10rem;
    width: 30rem;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
}
.middle{
    height: 28rem;
    width: 26rem;
    grid-column-start: 1;
    grid-column-end: 2;
}
.bottom{
    height: 12rem;
    width: 26rem;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 2rem 6rem 6rem 4rem;
    grid-template-rows: 1rem 3rem 2rem;
}
.hinge{
    height: 40rem;
    width: 4rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    box-shadow: inset 2px -2px 0 0 var(--black);
}

/* Top */
.light_blue{
    height: 10rem;
    width: 10rem;
}
.lights{
    height: 10rem;
    width: 10rem;
    display: inline-flex;
    justify-content: space-evenly;
    padding-top: 1rem;
}
.white_circle{
    height: 8rem;
    width: 8rem;
    margin: 1rem;
    position: absolute;
    border-radius: 50%;
    background-color: var(--white);
}
#blue_circle{
    height: 6rem;
    width: 6rem;
    margin: 1rem;
    position: absolute;
    border-radius: 50%;
    background-color: var(--blue);
}
#light_1{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--red_dark);
}
#light_2{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--yellow);
}
#light_3{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--green);
}

/* Display */
.frame{
    height: 26rem;
    width: 22rem;
    display: grid;
    grid-template-columns: 2rem 18rem 2rem;
    grid-template-rows: 2rem 18rem 2rem 4rem;
    margin: 2rem auto 0rem auto;
    border-radius: 0.5rem 0.5rem 0.5rem 2rem;
    background-color: var(--white);
}
.display{
    height: 18rem;
    width: 18rem;
    border-radius: 0.5rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: var(--gray);
}
#pokemon_img{
    height: 18rem;
    width: 18rem;
}
.bottom_frame{
    height: 4rem;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 2rem 15rem;   
}
.light_red{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    grid-column-start: 2;
    background-color: var(--red);
}
.right_lines{
    height: 3rem;
    width: 3rem;
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.line_black{
    height: 0.5rem;
    width: 3rem;
    border-radius: 0.5rem;
    background-color: var(--black);
}

/* Bottom */
.power{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: var(--blue_light);
}
.button_1{
    height: 0.5rem;
    width: 5rem;
    border-radius: 0.5rem;
    grid-column-start: 3;
    grid-row-start: 2;
    background-color: var(--red_dark);
}
.button_2{
    height: 0.5rem;
    width: 5rem;
    border-radius: 0.5rem;
    grid-column-start: 4;
    grid-row-start: 2;
    background-color: var(--blue_light);
}
.display_names{
    height: 3rem;
    width: 15rem;
    border-radius: 0.5rem;
    grid-column-start: 2;
    grid-row-start: 4;
    background-color: var(--green);
}
.button_direction{
    height: 6rem;
    width: 6rem;
    grid-column-start: 5;
    grid-row-start: 3;
    display: grid;
    grid-template-columns: 2rem;
    grid-template-rows: 2rem;
}
.cross{
    height: 6rem;
}

/* hinge */
.box_1{
    height: 4rem;
    width: 4rem;
    box-shadow: inset 0 -2px 0  var(--black);
}
.box_2{
    height: 32rem;
    width: 4rem;
    box-shadow: inset 0 -2px 0  var(--black);
}
.box_3{
    height: 2rem;
    width: 4rem;
    box-shadow: inset 0 -2px 0  var(--black);
}

/* RIGHT */
.cover{
    height: 40rem;
    width: 30rem;
    display: grid;
    grid-template-rows: 2rem 17rem;
    background-color: var(--red);
}
.display_r{
    height: 16rem;
    width: 26rem;
    border-radius: 1rem;
    grid-row-start: 2;
    margin: 0 auto;
    background-color: var(--gray);
}
.stats{
    margin: 1rem 1rem;
    color: var(--white);
}

.bottom_r{
    height: 18rem;
    width: 25rem;
    grid-row-start: 3;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 12rem 10rem;
    grid-template-rows: 7rem 2rem 2rem 4rem;
}
.blue_buttons{
    height: 6rem;
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
}
.white_buttons{
    height: 3rem;
    width: 6rem;
    grid-row-start: 3;
    display: flex;
}
.black_buttons{
    height: 1rem;
    width: 13rem;
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    justify-content: space-between;
}
.orange_light{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    grid-column-start: 3;
    grid-row-start: 4;
    background-color: var(--orange);
}
.bottom_buttons{
    height: 3rem;
    width: 25rem;
    grid-row-start: 5;
    display: flex;
    justify-content: space-between;
}
.button_number{
    height: 3rem;
    width: 5rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: var(--blue_light);
    box-shadow: inset 0 0 0 2px var(--black);
}
.white_button{
    height: 3rem;
    width: 3rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    box-shadow: inset 0 0 0 2px var(--black);
    display:flex;
    align-items:center;
    justify-content:center;
}
.black_button{
    height: 1rem;
    width: 6rem;
    border-radius: 0.5rem;
    background-color: var(--black);
}
.gray_button{
    height: 3rem;
    width: 12rem;
    border-radius: 0.5rem;
    color: var(--white);
    background-color: var(--gray);
    box-shadow: inset 0 0 0 2px var(--black);
}

/* Groups */
.border{
    box-shadow: inset 0 0 0 2px var(--black);
}
.text{
    margin: 0.5rem;
}

/* SVG */
.power_svg{
    height: 3rem;
    position: absolute;
    margin: 0.5rem;
}
.white_svg{
    height: 2rem;
}

/* :active */
.power:active{
    background-color: var(--blue);
}
.white_button:active{
    background-color: var(--gray);
}
.gray_button:active{
    color: var(--black);
    background-color: var(--white);
}

@media (min-width: 600px) {
    html, body{
        height: 100%;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left{
        margin: 0;
    }
    .right{
        height: 50rem;
        margin: 0;
    }
    .cover{
        margin-top: 10rem;
    }
}